body{background-image: url(assets/fondo.jpeg);
background-size: cover;}

p{color:rgb(0, 0, 0); font-size: 25px; text-align:center;}

.letrero2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
}

.regreso {
    display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
}

.cocina, .sala, .cuarto {
  background-color: #b7e0ff;
  border: 1px solid #000;
  padding: 20px;
  text-align: center;
}